<div class="main_wrapper">
    <h1 class="custom_header">Adăugare produs în baza de date</h1>
    <form class="custom_form" action="/adaugare-bd"  method="POST">
        <div class="field">
            <label>Nume produs</label>
            <input type="text" name="nume" id="nume" required>
        </div>
        <div class="field">
            <label>Cantitate</label>
            <input type="text" name="cantitate" id="cantitate" required>
        </div>
        <br>
        <div class="field">
            <input type="submit" value="Adaugă">
        </div>
    </form>
</div>