<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<header>
    <div class="main_wrapper">
        <h1 class="custom_header">Electrocasnice</h1>
        <h2 class="custom_header"><a href="/" class="custom_link">Pagină principală</a></h2>
    </div>
</header>
<main>
<%- body -%>
</main>
<br>
<footer>
    <p>&copy; 2022, Daniel Rotariu</p>
</footer>
</body>
</html>
